h1{
    color:brown
}

body {
    font-family: "Playfair Display", serif;
    margin: 0;
}

h1, h2, p , section{
    text-align: center;
}
section {
    max-width: 400px;
    margin: 0 auto;
}
img {
    width: 400px;
    height: auto;
}
header {
    background: #f8f1e9;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.topbar {
    background: #4c008b;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    }
    
